<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537002163072-hdct3gugge31scq7cbstq79dv4n5rug7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537002163072-hdct3gugge31scq7cbstq79dv4n5rug7</string>
	<key>API_KEY</key>
	<string>AIzaSyDbuo_b3gcRagHHuBFAydJMzSqBvXdjmaI</string>
	<key>GCM_SENDER_ID</key>
	<string>537002163072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brian.com</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-35a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-35a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537002163072:ios:8173c92ad2d7a0e1ad9f65</string>
</dict>
</plist>